<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CarShop</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
</head>
<body style="overflow-y: scroll">
    <div>
        <img src="~/Content/logo.png" width="143" height="33" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px" />
    </div>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-text">CarShop</p>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-button" })</li>
                    <li>@Html.ActionLink("Buy", "Index", "Buy", new { area = "" }, new { @class = "nav-button" })</li>
                    <li>@Html.ActionLink("Sell", "Index", "Sell", new { area = "" }, new { @class = "nav-button" })</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact", new { area = "" }, new { @class = "nav-button" })</li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align: center">&copy; @DateTime.Now.Year - CarShop</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>